.git
.github
.vercel
.tmp
node_modules
archive
artifacts
visuals
agent-sdk
contracts
docs
packages/mobile-native
packages/sample-bot
packages/solana/target
packages/solana/test-ledger
packages/solana/node_modules
packages/nextjs/.next
packages/nextjs/node_modules
packages/nextjs/test-results
packages/nextjs/coverage
*.log
