[package]
name = "fighter-registry"
version = "0.1.0"
description = "Fighter registry program for Underground Claw Fights"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "fighter_registry"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []
idl-build = ["anchor-lang/idl-build", "anchor-spl/idl-build"]

[dependencies]
anchor-lang = { version = "0.32.1", features = ["init-if-needed"] }
anchor-spl = "0.32.1"
